*.o
*.lo
*.la
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
.deps
.libs
app/gtk/fvkbd-gtk
app/gtk/fvkbd-gtk.desktop
autom4te.cache/
build/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
m4/lt*.m4
m4/libtool.m4
m4/intltool.m4
mkinstalldirs
po/*.gmo
po/.intltool-merge-cache
po/POTFILES
po/fvkbd.pot
po/stamp-it
stamp-h1
