*.o
*.lo
*.la
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
.deps
.libs
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
m4/lt*.m4
m4/libtool.m4
m4/intltool.m4
mkinstalldirs
po/*.gmo
po/.intltool-merge-cache
po/Makefile.*
po/POTFILES
po/scim-panel-vkb-gtk.pot
po/stamp-it
stamp-h1
src/panel-vkb-dbus-glue.h
src/scim-panel-vkb-gtk
